<fieldset class="power">
  <legend>Power Component:</legend>
  <h1 style="display: inline-block">Initial Power Level:
    <select class="" name=""style="display: inline-block">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
    </select>
  </h1>
  <button type="button" name="button"> Calculate Powers</button>
  <img src="../../assets/goku.jpg" alt="">

  <br>
  <app-human></app-human>
  <app-saiyan></app-saiyan>
  <app-super-saiyan></app-super-saiyan>
  <app-super-saiyan2></app-super-saiyan2>
  <app-super-saiyan3></app-super-saiyan3>
  <app-super-saiyan4></app-super-saiyan4>
</fieldset>
<!-- <section class="left">
  <span class="title">Adjust Incoming Power Level:</span>
  <input type="number" max="100" min="0">
</section> -->
