<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Are you sure you want to delete the following course?</h1>
    <p>Desctiption: {{courses.description}}</p>
    <p>Name: {{courses.name}}</p>
    <form class="" action="/delete/{{courses.id}}" method="post">
      <input type="submit" name="" value="Yes">
      {% csrf_token %}
    </form>
    <form class="" action="/" method="post">
      <input type="submit" name="" value="No">
      {% csrf_token %}
    </form>
  </body>
</html>
