<fieldset>
  <p>
    MainComponent works!
  </p>
  <p class="text">Duis pulvinar tristique tincidunt. Etiam eros nunc, luctus non purus eget, tincidunt malesuada elit. Curabitur eu commodo velit. Aliquam ut magna vel ipsum rutrum ultrices. Duis volutpat lobortis aliquam. Suspendisse sed quam ornare, faucibus lectus ut, malesuada neque. Etiam orci augue, faucibus ut luctus in, posuere quis metus. Donec non ligula luctus eros cursus pellentesque. Ut ligula nisi, suscipit ut arcu quis, mattis vestibulum arcu. Vivamus est felis, dictum non pulvinar a, sagittis vitae est. Praesent dui nisi, venenatis tincidunt blandit a, interdum a ex</p>
  <br>
  <p class="text">Quisque hendrerit, massa vitae ornare lobortis, magna urna consectetur ex, vitae tincidunt magna urna malesuada nibh. Mauris ex mauris, accumsan in felis nec, placerat rhoncus magna. Phasellus fringilla tristique sollicitudin. Vivamus dolor neque, blandit ac aliquam sit amet, imperdiet id massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla nisl magna, varius eget vehicula quis, consectetur eget mi. Nullam ut viverra enim. Donec libero nulla, tincidunt nec lorem finibus, vestibulum cursus nibh</p>
</fieldset>
