<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1 style="margin-left: 400px;">About Me!</h1>
    <br>
    <fieldset style="width: 600px; margin-left: 160px;">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec sem ut est tempor rhoncus nec id purus. Phasellus eget enim eget odio semper facilisis quis a lectus. Quisque eu metus nunc. Duis consequat tristique mauris ac fermentum. Pellentesque at quam finibus, commodo neque et, pretium est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec sem ut est tempor rhoncus nec id purus. Phasellus eget enim eget odio semper facilisis quis a lectus. Quisque eu metus nunc. Duis consequat tristique mauris ac fermentum. Pellentesque at quam finibus, commodo neque et, pretium est</p>
    </fieldset>
  </body>
</html>
