<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <fieldset style="width: 400px; margin: 100px, 0px, 0px, 100px;">
      <h3>Submit Your Car Information Here!</h3>
      <form class="" action="index.html" method="post">
        Year:<input type="text" name="" value=""><br>
        <br>
        Make:<input type="text" name="" value=""><br>
        <br>
        Model:<input type="text" name="" value=""><br>
        <br>
        Color:<input type="text" name="" value=""><br>
        <br>
        <button type="button" name="button">Submit</button>
      </form>
    </fieldset>
  </body>
</html>
